.blink-warning {
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    background: var(--bs-red);
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}
